<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EasyRoom | {% block title %}{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/theme.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">EasyRoom</a>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_properties') }}">Propositions</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        {% if app.user %}
                            {% if "ROLE_HOTE" in app.user.roles %}
                                <li class="nav-item">
                                    <a href="{{ path('app_user_properties') }}" class="btn btn-primary">Voir mes biens</a>
                                </li>
                            {% else %}
                                <li class="nav-item mr-1">
                                    <a href="{{ path('create_property') }}" class="btn btn-outline-primary">Devenir un hôte</a>
                                </li>
                            {% endif %}
                            <li class="nav-item mr-1 ml-1">
                                <a href="/logout" class="btn btn-danger">Se déconnecter</a>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link"  href="{{ path('app_login') }}">Login</a></li>
                            <li class="nav-item"><a class="nav-link"  href="{{ path('app_register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block ban %}{% endblock %}

        <main class="container main">
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/theme.js') }}"></script>
    </body>
</html>
