{% extends 'layouts/front.html.twig' %}

{% block title %}Create property{% endblock %}

{% block body %}
    <h1>Create property</h1>

    {{ form_start(createPropertyForm) }}
    {{ form_row(createPropertyForm.name) }}
    {{ form_row(createPropertyForm.description) }}
    {{ form_row(createPropertyForm.maxNumberPersons) }}
    {{ form_row(createPropertyForm.postalCode) }}
    {{ form_row(createPropertyForm.region) }}
    {{ form_row(createPropertyForm.country) }}
    {{ form_row(createPropertyForm.typeProperty) }}
    {{ form_row(createPropertyForm.pictures) }}
    {#{{ form_row(createPropertyForm.pictures) }}#}
    {{ form_row(createPropertyForm.surface) }}
    <button class="btn">Create</button>
    {{ form_end(createPropertyForm) }}
{% endblock %}
