{% extends 'layouts/front.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col s12">
                <div class="form-group">
                    {{ form_row(registrationForm.username) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="form-group">
                    {{ form_row(registrationForm.name) }}
                </div>
            </div>
            <div class="col s6">
                <div class="form-group">
                    {{ form_row(registrationForm.firstname) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="form-group">
                    {{ form_row(registrationForm.name) }}                
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>
            </div>
            <div class="input-field col col-12">
                {{ form_row(registrationForm.birthdate) }}
            </div>
            <div class="col col-12 mt-4">
                <button class="btn btn-primary">Register</button>
            </div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
